.font_logotipo {
    font-family: 'Better Saturday', 'sans-serif';
    /*font-size: 70px;*/
    /*margin-top: 5%;*/
    /*position: absolute;*/
    color: #993b46;
    /*z-index: 0;  Lower z-index value */

  }

.font_dream {
  /*margin-top: 100px;*/
  /*margin-left: 60px;*/
  font-family: "Cormorant Garamond", serif;
  /*font-weight: 400;*/
  font-style: normal;
  /*font-size: 90px;*/
  color: #d599a0;
  /*position: relative;
  z-index: 1; /* higher z-index value */
}

/*@media (max-width: 600px) {
  /* Mobile 
  .font_dream {
    font-size: 16vw;
    margin-top: 18vw; /*A viewport is the visible area of the webpage
    margin-left: 8vw; 
  }

  .font_logotipo {
    font-size: 12vw;
    margin-top: 8vw;
    margin-left: 0vw;
  }
  }
*/

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #ffecf1;
}
  
.container {
  position: relative;
}

.leaf {
  position: absolute;
}